h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

nav a {
  margin-right: 10px;
  color: #007bff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
.logout-btn {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

.logout-btn:hover {
  background-color: #c9302c;
}
