<section class="auth-container">

  <h2>Iniciar Sesión</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-container">

    <div class="form-group">
      <label>Email:</label>
      <input type="email" formControlName="email">
    </div>

    <div class="form-group">
      <label>Contraseña:</label>
      <input type="password" formControlName="password">
    </div>

    <button type="submit" class="btn">Ingresar</button>

  </form>

  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

  <a routerLink="/auth/register" class="link">¿No tienes cuenta? Regístrate aquí</a>

</section>
