<section class="auth-container">

  <div class="auth-card glass">

    <h2 class="auth-title">Iniciar Sesión</h2>
    <p class="auth-subtitle">
      Accede al sistema de gestión de turnos
    </p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-container">

      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          formControlName="email"
          placeholder="correo@ejemplo.com"
        >
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <input
          type="password"
          formControlName="password"
          placeholder="••••••••"
        >
      </div>

      <button type="submit" class="btn btn-gold">
        Ingresar
      </button>

    </form>

    <p class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>

    <a routerLink="/auth/register" class="auth-link">
      ¿No tienes cuenta? Regístrate aquí
    </a>

  </div>

</section>
