<section class="auth-container">

  <h2>Crear Cuenta</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-container">

    <div class="form-group">
      <label>Nombre:</label>
      <input type="text" formControlName="name">
    </div>

    <div class="form-group">
      <label>Email:</label>
      <input type="email" formControlName="email">
    </div>

    <div class="form-group">
      <label>Contraseña:</label>
      <input type="password" formControlName="password">
    </div>

    <button type="submit" class="btn">Registrarme</button>

  </form>

  <a routerLink="/auth" class="link">¿Ya tienes cuenta? Inicia sesión aquí</a>

</section>
